.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 603px;

  &--background-color {
    background-color: #2f303a;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);

    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    &--padding {
      padding-bottom: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-top: 60px;
    padding-left: 15px;
    text-decoration: none;
    list-style-type: none;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  @media screen and (min-width: 768px) {
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    height: 252px;
    align-items: flex-start;
  }
}

.adress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 15px;
  margin-block: 0px;
  gap: 8px;
  list-style-type: none;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  &--underline {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
  }
}

// .footer {
//   display: flex;
//   flex-direction: column;

//   &--background-color {
//     background-color: #2f303a;
//   }

//   &__flex {
//     display: flex;
//     align-items: flex-start;
//     justify-content: flex-start;
//   }

//   &__title {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: var(--title-color);

//     padding-bottom: 20px;
//     margin-top: 0px;
//     margin-bottom: 0px;

//     &--padding {
//       padding-bottom: 20px;
//       margin-top: 0px;
//       margin-bottom: 0px;
//     }
//   }

//   &__logo {
//     font-family: var(--secondary-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--title-color);
//     padding-top: 60px;
//     padding-left: 15px;
//     text-decoration: none;
//     list-style-type: none;
//     transition: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus,
//     &:active {
//       color: var(--accent-color);
//     }
//   }
// }

// .adress-wrapper {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   padding-top: 20px;
//   padding-left: 15px;
//   gap: 9px;
//   list-style-type: none;
// }
// .address {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--title-color);
// }
// .mail {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
//   text-decoration: none;
//   transition: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus,
//   &:active {
//     color: var(--accent-color);
//   }
//   &--underline {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     text-decoration-line: underline;
//     color: rgba(255, 255, 255, 0.6);
//   }
// }
