.footer {
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background-color: #2f303a;

  &__container {
    display: block;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__address {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-left: 76px;
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 0px;
      margin-right: 80px;
      text-align: start;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    &--padding {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  &__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }
  }
}

.adress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 0px;
  margin-block: 0px;
  gap: 8px;
  list-style-type: none;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  &--underline {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
  }
}
