.social-padding {
  display: block;
  flex-direction: column;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 46px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 69px;
  }
}

.social-footer {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 0;
  list-style-type: none;
  margin-block: 0px;

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--title-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    --color5: var(--background-social);
    --color4: var(--title-color);
    transition-property: fill background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      fill: var(--title-color);
      background-color: var(--accent-color);
    }
  }
}

// .social-padding {
//   padding-top: 72px;
//   padding-left: 70px;
//   display: flex;
//   flex-direction: column;
// }

// .social-footer {
//   gap: 10px;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   transition: fill background-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   padding-left: 0;
//   list-style-type: none;

//   &__link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);
//     fill: var(--title-color);
//     border-radius: 50%;
//     align-items: center;
//     justify-content: center;
//   }
//   &__icon {
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     --color5: var(--background-social);
//     --color4: var(--title-color);
//     transition-property: fill background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus,
//     &:active {
//       fill: var(--title-color);
//       background-color: var(--accent-color);
//     }
//   }
// }
