.section-background {
  background-color: var(--filters-color);
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style-type: none;

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--descriptions-color);
    width: 100%;
    height: 148px;
    background-color: var(--title-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 0px 4px 4px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-align: center;
    padding-top: 30px;
  }
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
  list-style-type: none;

  &__link {
    transition: fill background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    background-color: var(--title-color);
    border-radius: 50%;
    transition-property: fill background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon,
.social-list__link:active .social-list__icon {
  fill: var(--title-color);
  background-color: var(--accent-color);
}

// .section-background {
//   background-color: var(--filters-color);
// }

// .members {
//   display: flex;
//   justify-content: space-around;
//   padding-left: 0px;
//   margin-bottom: 0px;
//   list-style-type: none;

//   &__description {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--descriptions-color);
//     width: 270px;
//     height: 148px;
//     background-color: var(--title-color);
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     border-radius: 0px 0px 4px 4px;
//   }
//   &__name {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--main-color);
//     text-align: center;
//     padding-top: 30px;
//   }
// }
// .social-list {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding-left: 32px;
//   padding-right: 32px;
//   list-style-type: none;

//   &__link {
//     transition: fill background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &__icon {
//     width: 44px;
//     height: 44px;
//     fill: #afb1b8;
//     background-color: var(--title-color);
//     border-radius: 50%;
//     transition-property: fill background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
// .social-list__link:hover .social-list__icon,
// .social-list__link:focus .social-list__icon,
// .social-list__link:active .social-list__icon {
//   fill: var(--title-color);
//   background-color: var(--accent-color);
// }
