.mobile-menu__overlay {
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__overlay.is-open {
  left: 0;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.mobile-menu__icon {
  display: flex;
  width: 40px;
  height: 40px;
  fill: var(--main-color);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu__list {
  list-style-type: none;
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}
.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--descriptions-color);
}
.mobile-menu__site {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
