.modal {
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  padding: 8px;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &__btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 93%;
  }
  &__title {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
    color: var(--main-color);
    max-width: 370px;
    margin-left: 40px;

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }
}

.modal-content {
  display: flex;
  justify-content: center;
}
.main-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }

  &__fieldset {
    display: flex;
    position: relative;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-block: 7px;
    margin-bottom: 28px;
    transition: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
      max-width: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
      height: 40px;
    }

    &:has(input:focus) {
      border-color: var(--accent-color);
    }
    &:has(input:focus) .main-form__icon--name {
      fill: var(--accent-color);
    }
    &:has(input:focus) .main-form__icon--tel {
      fill: var(--accent-color);
    }
    &:has(input:focus) .main-form__icon--mail {
      fill: var(--accent-color);
    }
  }
  &__label {
    position: absolute;
    top: -18px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--descriptions-color);
  }
  &__icon {
    position: absolute;
    text-align: center;
    margin-block: 5px;
    margin-right: 12px;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--name {
      width: 12px;
      height: 12px;
    }

    &--tel {
      width: 13px;
      height: 13px;
    }
    &--mail {
      width: 15px;
      height: 12px;
    }
  }
}

.main-form__input {
  border: 0;
  outline: 0;
  margin-left: 20px;
  width: 350px;

  @media screen and (max-width: 479px) {
    max-width: 75%;
  }
  @media screen and (min-width: 1200px) {
    width: 390px;
    margin-left: 20px;
  }
}
.main-form__fieldset-two {
  display: flex;
  position: relative;
  width: 396px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-block: 7px;
  margin-bottom: 20px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:has(textarea:focus) {
    border-color: var(--accent-color);
  }
}
.main-form__textarea {
  width: 100%;
  height: 96px;
  background-color: transparent;
  border: 0;
  resize: none;
  outline: 0;
  @media screen and (min-width: 1200px) {
    height: 96px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.legal {
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--descriptions-color);
  cursor: pointer;
  padding-left: 6px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    list-style: 1.71;
  }

  &__span {
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &__basic {
    width: 16px;
    height: 15px;
    position: absolute;
    left: -10px;
    top: 1px;
    opacity: 1;
    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__check {
    width: 17px;
    height: 16px;
    position: absolute;
    left: -10px;
    top: 1px;
    opacity: 0;
    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.legal input {
  cursor: pointer;
  opacity: 0;

  &:checked ~ .legal__basic {
    opacity: 0;
  }
  &:checked ~ .legal__check {
    opacity: 1;
  }
}

.submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-color);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
}
