.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
    gap: 60px;
    list-style-type: none;

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--main-color);
      width: 254px;
      text-decoration: none;
      color: var(--main-color);

      transition: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        color: var(--accent-color);
      }
    }
    &__underliner {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 30px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        transform: translateY(15px);
      }
    }
  }
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    list-style-type: none;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--descriptions-color);
      text-decoration: none;
      transition: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        color: var(--accent-color);
      }
      &:hover .envelope,
      &:focus .envelope {
        fill: var(--accent-color);
      }
      &:hover .phone,
      &:focus .phone {
        fill: var(--accent-color);
      }
    }
  }
  .envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--descriptions-color);
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--descriptions-color);
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .navigation {
//   display: flex;
//   justify-content: space-between;
//   gap: 30px;
//   list-style-type: none;

//   &__link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--main-color);
//     width: 254px;
//     text-decoration: none;
//     color: var(--main-color);

//     transition: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus,
//     &:active {
//       color: var(--accent-color);
//     }
//   }
//   &__underliner {
//     position: relative;

//     &::after {
//       content: "";
//       display: block;
//       position: absolute;
//       width: 100%;
//       height: 4px;
//       border-radius: 2px;
//       background-color: var(--accent-color);
//       transform: translateY(15px);
//     }
//   }
// }
// .contact {
//   display: flex;
//   justify-content: space-between;
//   gap: 50px;
//   list-style-type: none;

//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--descriptions-color);
//     text-decoration: none;
//     transition: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus,
//     &:active {
//       color: var(--accent-color);
//     }
//     &:hover .envelope,
//     &:focus .envelope {
//       fill: var(--accent-color);
//     }
//     &:hover .phone,
//     &:focus .phone {
//       fill: var(--accent-color);
//     }
//   }
// }
// .envelope {
//   width: 16px;
//   height: 12px;
//   margin-right: 10px;
//   fill: var(--descriptions-color);
//   transition: fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .phone {
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
//   fill: var(--descriptions-color);
//   transition: fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
