.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Headerimg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 191dpi),
  (min-resolution: 2dppx) {
  .slider {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Headerimg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Headerimg_tablet.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 191dpi),
    (min-resolution: 2dppx) {
    .slider {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Headerimg_tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/HeaderImg_desktop.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 191dpi),
    (min-resolution: 2dppx) {
    .slider {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/HeaderImg_desktop@2x.jpg);
    }
  }
}
.slider__wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.slider__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--title-color);
  width: 320px;
  margin-left: 0;
  text-align: center;
  @media screen and (min-width: 480px) {
    width: 365px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
