.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/Header\ img.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 191dpi),
  (min-resolution: 2dppx) {
  .slider {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/Header\ img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/Header\ img_tablet.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 191dpi),
    (min-resolution: 2dppx) {
    .slider {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/Header\ img_tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/Header\ Img_desktop.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 191dpi),
    (min-resolution: 2dppx) {
    .slider {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/Header\ img_tablet@2x.jpg);
    }
  }
}
.slider__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--title-color);
  min-width: 320px;
  margin-left: 0;
  text-align: center;
}
// .slider {
//   background-color: #2f303a;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero.png);
//   background-size: auto;
//   background-repeat: no-repeat;
//   background-position: 50% 50%;

//   &__wrapper {
//     height: 600px;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//   }
//   &__title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.02em;
//     color: var(--title-color);
//     width: 696px;
//     text-align: center;
//   }
// }
