.slider {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &__wrapper {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--title-color);
    width: 696px;
    text-align: center;
  }
}
