.strengths {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  &__wrapper {
    display: flex;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--filters-color);
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;
    width: 290 px;
    height: 120px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    fill: var(--filters-color);
    border-radius: 4px;
    width: 70px;
    height: 70px;
  }
  &__feature {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--descriptions-color);
    margin: 0px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
