body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border: 0;
  cursor: pointer;

  &--slider {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 0;
  }
}
.section {
  padding-block: 60px;
  @media screen and (min-width: 1200px) {
    padding-block: 94px;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      padding-bottom: 50px;
    }
  }
}
.no-padding {
  padding-bottom: 0px;
}
.relative {
  position: relative;
}

.margins {
  margin: 0px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.shadows {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.no-gap {
  display: block;
  width: 100%;
  height: auto;
  max-width: 450px;
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

// style dla pierwotnej wersji
// body {
//   font-family: "Raleway", sans-serif;
//   font-family: "Roboto", sans-serif;
//   color: var(--main-color);
// }
// .button {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   color: var(--title-color);
//   background-color: var(--accent-color);
//   width: 200px;
//   height: 50px;
//   border: 0;
//   cursor: pointer;

//   &--slider {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 4px;
//   }
// }

// .container {
//   margin: 0 auto;
//   width: 100%;
//   max-width: 1200px;
// }
// .section {
//   padding-block: 94px;

//   &__title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.17;
//     letter-spacing: 0.03em;
//     color: var(--main-color);
//     text-align: center;

//     padding-bottom: 50px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//   }
// }
// .no-padding {
//   padding-bottom: 0px;
// }
// .margins {
//   margin: 30px 0px 0px 0px;
// }
// .no-gap {
//   display: block;
// }
// .shadows {
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .borders {
//   border: 1px solid #eeeeee;
// }
// .card-hover {
//   transition: box-shadow;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// .cover {
//   position: relative;
//   overflow: hidden;
// }

// .relative {
//   position: relative;
// }
