:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --descriptions-color: #757575;
  --filters-color: #f5f4fa;
  --background-social: rgba(255, 255, 255, 0.1);
  --client-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
